[submodule "convertToSequence"]
	path = convertToSequence
	url = https://github.com/volkovasystems/convertToSequence.git
[submodule "calculatePartition"]
	path = calculatePartition
	url = https://github.com/volkovasystems/calculatePartition.git
